index.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cards">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="card" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="images"></xs:element>
                            <xs:element name="name"></xs:element>
                            <xs:element name="modal"></xs:element>
                            <xs:element name="color"></xs:element>
                            <xs:element name="price"></xs:element>
                            <xs:element name="content"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>